<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>New Signup</title>
<%= javascript_include_tag 'application' %>
<!-- Bootstrap -->
<%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-eval' => false %>

<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="page-bg" style="padding-top: 0px;">
<!--Header Start--> 

<!-- Login Form Start-->

<div class="page-container01">
  <%= bootstrap_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>  
    <div class="col-md-9  white-bg no-padding">
    <div class="pane-header">
      <div class="pull-right header-navigation"> <a href="#">+1(646)681-3626</a> <a href="#">INFO@SNAPFOURSERVICE.COM</a> <a href="#" class="btn login-button">Login</a> </div>
    </div>
    <div class="pane-header">
      <h4> Profile </h4>
    </div>
    <div class="panel-body">
      <div class="row ">
        <div class="col-md-12 sign-up-form">
          <div class="row">
            <div class="col-md-12">
              <h3 class="font-lato-regulor">Plese provide your information to create an account</h3>
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Last Name">
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Type your password again">
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Phone number">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pane-header">
      <h4> Payment </h4>
    </div>
    <div class="panel-body">
      <h4>Credit Card Type</h4>
      <div> 
          <a href="javascript:void(0);"><img src="/assets/visa.png" width="94" height="58" alt="Visa"></a> 
          <a href="javascript:void(0);"><img src="/assets/masterCard.png" alt="Visa"></a> 
          <a href="javascript:void(0);"><img src="/assets/ae.png"  alt="Visa"></a> 
      </div>
      <div class="card-bg margintop-15">
        <div class="card-front">
          <div class="text-right"><img src="/assets/visa-logo.png" width="106" height="37"></div>
          <div class="row card-details">
            <div class="col-md-9">
              <div>CARD NUMBER</div>
              <div class="card-input-bg">
                <input class="small" type="text" placeholder="XXXXX XXXXX XXXX XXXX">
              </div>
            </div>
          </div>
          <div class="row margintop30">
            <div class="col-md-8">
              <div>CARD HOLDER</div>
              <div class="card-input-bg">
                <input type="text" class="text-left" placeholder="e.g. NAME LASTNAME" style="text-align:left;">
              </div>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div>EXPIRATION DATE</div>
                <div class="col-md-6">
                  <div class="card-input-bg">
                    <input type="text" placeholder="MM">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-input-bg">
                    <input type="text" placeholder="YY">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-back">
          <div class="">
            <div>CVC/CVV</div>
            <div class="card-input-bg">
              <input type="text" class="text-left" placeholder="XXXX-X">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="panel-body">
      <h1 class="summary-title">Billing Review</h1>
      <div class="extra-services row">
        <div class="col-md-2"></div>
        <div class="billing-summary col-md-10">
          <div class="col-md-5">
            <h5>Plan</h5>
            <p>Bi-Weekly Landscaping Plan Minimum 6 months</p>
            <h5>Property</h5>
            <p>0.28 Acres</p>
          </div>
          <div class="col-md-5">
            <h5>Billing</h5>
            <table cellpadding="0" cellspacing="0" class="billing-total">
              <tr>
                <td>Lanscaping Package</td>
                <td>$55</td>
              </tr>
              <tr class="border-bottom">
                <td>Fee</td>
                <td>$3</td>
              </tr>
              <tr class="border-bottom">
                <td class="font-lato-regulor">Recurring Weekly total</td>
                <td class="font-lato-regulor">$58</td>
              </tr>
              <tr>
                <td class="font-lato-regulor">Today's total</td>
                <td class="font-lato-regulor">$58</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-save-continue"><a href="javascript:void(0);">COMPLETE</a></div>
  </div>
  <% end %>
</div>
<!-- Login Form End-->
<div class="clearfix"></div>
<!-- Slider Start--> 

<!-- Slider End--> 

<script type="text/javascript">
        $(function () {
            $("#s1").click(function () {
                if ($(this).is(":checked")) {
                    $(".service01").toggle();
					// $(".service02", ".service03",".service04",".service05",".service06",".service07",".service08").hide();
                } else {
                    $(".service01").hide();
                }
            });
			
			
        });
		$(window).on("load",function(){
	
	
	
	$("#content-1").mCustomScrollbar({
		live:true,
		theme:"minimal"
	});
	$("#content-2").mCustomScrollbar({
		live:true,
		theme:"minimal"
	});
});
    </script>
</body>
</html>