<div class="service01 services-details">
    <h3>Description</h3>
    <p>Edging of flower beds to maintain neat appearance.</p>
    <h3>Service Setup</h3>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/summer.PNG" width="100%">
            <div class="service-name">Spring & Mid Summer</div>
        </div>
    </div>    
    <div class="clearfix"></div>
    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job. The price per man hour is $50. We will have GPS and photo documentation for proof of presence and service.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('01');">ADD</button>
    </div>
</div>
<div class="service02 services-details">
    <h3>Description</h3>
    <p>Properly trim shrubs to proper size and shape.</p>
    <h3>Service Setup</h3>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/summer.PNG" width="100%">
            <div class="service-name">Spring & Mid Summer</div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-10 text-center margintop-15">
            <a class="btn btn-blue servicePlanList" href="javascript:void(0);">WEEKLY</a>
            <a class="btn btn-blue servicePlanList" href="javascript:void(0);">BI-WEEKLY</a>
        </div>
    </div>    
    <div class="clearfix"></div>
    <div class="form-group margintop-15 select">
        <select class="form-control">
            <option>What Shrubs need trimming?</option>
            <option>All</option>
            <option>Specify</option>
        </select>
    </div>
    <div class="clearfix"></div>
    <label>Please describe the location around the house</label>
    <div class="form-group">
        <textarea class="textarea"></textarea>
    </div>
    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job. The price per man hour is $50. We will have GPS and photo documentation for proof of presence and service.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('02')">ADD</button>
    </div>
</div>
<div class="service03 services-details">
    <h3>Description</h3>
    <p>Professionally prune trees to proper size and shape.</p>
    <h3>Service Setup</h3>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/summer.PNG" width="100%">
            <div class="service-name">Spring & Mid Summer</div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-10 text-center margintop-15">
            <a class="btn btn-blue servicePlanList" href="javascript:void(0);">WEEKLY</a>
            <a class="btn btn-blue servicePlanList" href="javascript:void(0);">BI-WEEKLY</a>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="form-group margintop-15 select">
        <select class="form-control">
            <option>What Shrubs need trimming?</option>
            <option>All</option>
            <option>Specify</option>
        </select>
    </div>
    <div class="clearfix"></div>
    <label>Please describe the location around the house</label>
    <div class="form-group">
        <textarea class="textarea"></textarea>
    </div>
    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job. The price per man hour is $50. We will have GPS and photo documentation for proof of presence and service.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('03');">ADD</button>
    </div>
</div>
<div class="service04 services-details">
    <h3>Description</h3>
    <p>Gently Mulch all plant beds to accommodate neat appearance.</p>
    <h3>What type of mulch are you looking for?</h3>
    <div class="clearfix"></div>
    <div class="row mulch-holder" id="content-1">
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Cocoa Mulch <small>$64 / yard</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s9" />
                            <label for="s9"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Straw <small>$64 / yard</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s10" />
                            <label for="s10"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Grass Clippings <small>$64 / yard</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s11" />
                            <label for="s11"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Compost <small>$64 / yard</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s12" />
                            <label for="s12"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Pine Straw <small>$64 / yard</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s13" />
                            <label for="s13"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Peet Mulch <small>$120 / yard + labor</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s14" />
                            <label for="s14"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Black Mulch <small>$100 / yard + labor</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s14" />
                            <label for="s14"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Dark Mulch <small>$100 / yard + labor</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s14" />
                            <label for="s14"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Light Mulch <small>$100 / yard + labor</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s14" />
                            <label for="s14"></label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-9"> <i class="service-line service-green"></i> Red Mulch <small>$100 / yard + labor</small> </div>
                    <div class="col-md-3">
                        <div class="roundedOne">
                            <input type="checkbox" value="None" id="s14" />
                            <label for="s14"></label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/summer.PNG" width="100%">
            <div class="service-name">Spring & Mid Summer</div>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="note">* We recommend edging of shrub & plant beds before mulching.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('04');">ADD</button>
    </div>
</div>
<div class="service05 services-details">
    <h3>Description</h3>
    <p>Efficiently clean all gutters and grates of leaves and debris</p>
    <h3>Service Setup</h3>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/summer.PNG" width="100%">
            <div class="service-name">Spring & Mid Summer</div>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job. The price per man hour is $50. We will have GPS and photo documentation for proof of presence and service.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('05');">ADD</button>
    </div>
</div>
<div class="service06 services-details">
    <h3>Description</h3>
    <p>Efficiently clean all debris and out of plant beds and lawn.</p>
    <h3>Service Setup</h3>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/fall.png" height="180px" width="100%">
            <div class="service-name">Fall</div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-10 text-center margintop-15">
            <a class="btn btn-blue servicePlanList" href="javascript:void(0);">WEEKLY</a>
            <a class="btn btn-blue servicePlanList" href="javascript:void(0);">BI-WEEKLY</a>
        </div>
    </div>    
    <br />
    <div class="clearfix"></div>
    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job. The price per man hour is $50. We will have GPS and photo documentation for proof of presence and service.</div>
    <div class="note">* Each client is subject to dump fees.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('06');">ADD</button>
    </div>
</div>
<div class="service07 services-details">
    <h3>Description</h3>
    <p>Properly power wash specified locations.</p>
    <h3>Service Setup</h3>
    <div>
        <div class="select-service has-success has-feedback">
            <div>
                <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                <span class="fa fa-calendar-o form-control-feedback"></span> </div>
        </div>
    </div>
    <div class="col-md-12 service-pic">
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/spring.PNG" width="100%">
            <div class="service-name">Spring</div>
        </div>
        <div class="col-md-5 serviceList" onclick="set_service_setup_period(this);"> 
            <img src="/assets/summer.PNG" width="100%">
            <div class="service-name">Spring & Mid Summer</div>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job. The price per man hour is $50. We will have GPS and photo documentation for proof of presence and service.</div>
    <div class="text-right">
        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('07');">Add</button>
    </div>
</div>
<div class='add_service_seccess'>
    <div class="panel panel-default" style="margin-top: 15%">
        <div class="panel-body">
            <div>NEW SERVICE ADDED!</div>
            <div style="margin-top: 3%;margin-bottom: 3%">You can change the service settings now or after scheduling if necessary.</div>
            <button type="button" class="btn-sm" onclick="reset_service()">OK</button>
        </div>
    </div> 
</div>