                <div class="service01 services-details">
                  <h3>Description</h3>
                  <p>Edging of flower beds to maintain neat appearance.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                      </div>
                    </div>
                    <div class="col-md-12 service-pic">
                    <div class="col-md-5"> 
                      <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5">
                      <img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('01');">ADD</button>
                  </div>
                </div>
                <div class="service02 services-details">
                  <h3>Description</h3>
                  <p>Properly trim shrubs to proper size and shape.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                    </div>
                  </div>
                  <div class="col-md-12 service-pic">
                    <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group margintop-15 select">
                    <select class="form-control">
                      <option>What Shrubs need trimming?</option>
                      <option>All</option>
                      <option>Specify</option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                  <label>Please describe the location around the house</label>
                  <div class="form-group">
                    <textarea class="textarea"></textarea>
                  </div>
                  <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('02')">ADD</button>
                  </div>
                </div>
                <div class="service03 services-details">
                  <h3>Description</h3>
                  <p>Professionally prune trees to proper size and shape.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                      </div>
                    </div>
                  <div class="col-md-12 service-pic">
                    <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="form-group margintop-15 select">
                    <select class="form-control">
                      <option>What Shrubs need trimming?</option>
                      <option>All</option>
                      <option>Specify</option>
                    </select>
                  </div>
                  <div class="clearfix"></div>
                  <label>Please describe the location around the house</label>
                  <div class="form-group">
                    <textarea class="textarea"></textarea>
                  </div>
                  <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('03');">ADD</button>
                  </div>
                </div>
                <div class="service04 services-details">
                  <h3>Description</h3>
                  <p>Provide professional installation of plant material</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="date" class="form-control" placeholder="What week do you want us to do planting?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                      <div class="text-right">
                        <button type="button" class="btn btn-add-gray" onclick="add_extra_service('04');">ADD</button>
                      </div>
                    </div>
                <div class="service05 services-details">
                  <h3>Description</h3>
                  <p>Gently Mulch all plant beds to accommodate neat appearance.</p>
                  <h3>What type of mulch are you looking for?</h3>
                  <div class="clearfix"></div>
                  <div class="row mulch-holder" id="content-1">
                    <ul>
                      <li>
                        <div class="row">
                          <div class="col-md-9"> <i class="service-line service-green"></i> Cocoa Mulch <small>$64 / yard</small> </div>
                          <div class="col-md-3">
                            <div class="roundedOne">
                              <input type="checkbox" value="None" id="s9" />
                              <label for="s9"></label>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-9"> <i class="service-line service-green"></i> Straw <small>$64 / yard</small> </div>
                          <div class="col-md-3">
                            <div class="roundedOne">
                              <input type="checkbox" value="None" id="s10" />
                              <label for="s10"></label>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-9"> <i class="service-line service-green"></i> Grass Clippings <small>$64 / yard</small> </div>
                          <div class="col-md-3">
                            <div class="roundedOne">
                              <input type="checkbox" value="None" id="s11" />
                              <label for="s11"></label>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-9"> <i class="service-line service-green"></i> Compost <small>$64 / yard</small> </div>
                          <div class="col-md-3">
                            <div class="roundedOne">
                              <input type="checkbox" value="None" id="s12" />
                              <label for="s12"></label>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-9"> <i class="service-line service-green"></i> Pine Straw <small>$64 / yard</small> </div>
                          <div class="col-md-3">
                            <div class="roundedOne">
                              <input type="checkbox" value="None" id="s13" />
                              <label for="s13"></label>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-9"> <i class="service-line service-green"></i> Cocoa Mulch <small>$64 / yard</small> </div>
                          <div class="col-md-3">
                            <div class="roundedOne">
                              <input type="checkbox" value="None" id="s14" />
                              <label for="s14"></label>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="When do you want us to provide the service?" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                    </div>
                  </div>
                  <div class="col-md-12 service-pic">
                    <div class="col-md-5"> <img src="/assets/tree.png" width="100%">
                      <div class="service-name">Spring</div>
                    </div>
                    <div class="col-md-5"><img src="/assets/tree.png"  width="100%">
                      <div class="service-name">Spring & Mid Summer</div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="note">* We recommend edging of shrub & plant beds before mulching.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('05');">ADD</button>
                  </div>
                </div>
                <div class="service06 services-details">
                  <h3>Description</h3>
                  <p>Efficiently clean all gutters and grates of leaves and debris</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="Efficiently clean all guBers and grates of leaves and debris" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <div class="clearfix"></div>
                  <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('06');">ADD</button>
                  </div>
                </div>
                <div class="service07 services-details">
                  <h3>Description</h3>
                  <p>Efficiently clean all debris and out of plant beds and lawn.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="Efficiently clean all guBers and grates of leaves and debris" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <div class="clearfix"></div>
                  <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                  <div class="note">* Each client is subject to dump fees.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('07');">ADD</button>
                  </div>
                </div>
                <div class="service08 services-details">
                  <h3>Description</h3>
                  <p>Properly power wash specified locations.</p>
                  <h3>Service Setup</h3>
                  <div>
                    <div class="select-service has-success has-feedback">
                      <div>
                        <input type="text" class="form-control" placeholder="Efficiently clean all guBers and grates of leaves and debris" id="inputSuccess">
                        <span class="fa fa-calendar-o form-control-feedback"></span> </div>
                    </div>
                  </div>
                  <br />
                  <br />
                  <br />
                  <br />
                  <br />
                  <div class="clearfix"></div>
                  <div class="note">* Pricing will depend on the amount of man hours it takes to complete the job.</div>
                  <div class="text-right">
                    <button type="button" class="btn btn-add-gray" onclick="add_extra_service('08');">Add</button>
                  </div>
                </div>
                <div class='add_service_seccess'>
                  <div class="panel panel-default" style="margin-top: 15%">
                      <div class="panel-body">
                          <div>NEW SERVICE ADDED!</div>
                          <div style="margin-top: 3%;margin-bottom: 3%">You can change the service settings now or after scheduling if necessary.</div>
                          <button type="button" class="btn-sm" onclick="reset_service()">OK</button>
                      </div>
                  </div> 
                </div>